<nav>
    <ul>
        <li><a href="#/profile"><i class="fa fa-file"></i>Profile</a></li>
        <li><a href="#/message"><i class="fa fa-envelope"></i>Message</a></li>
        <li ng-click="logout()"><a><i class="fa fa-sign-out"></i>Logout</a></li>
    </ul>
</nav>
<div id="container" class="edit_info">
    <form id="add_contact">
        <label>Name</label>
        <input type="text" title="name" placeholder="name" ng-model="user_info.name" value="edit_name"/>
        <br/>
        <label>Email</label>
        <input type="text" title="email" placeholder="email" ng-model="user_info.email" value="edit_email"/>
        <br/>
        <label>Username</label>
        <input type="text" title="username" placeholder="username" ng-model="user_info.username" value="edit_username"
               disabled="disabled"/>
        <br/>
        <label>Password</label>
        <input type="text" title="password" placeholder="password" ng-model="user_info.password" value="edit_password"/>
        <br/>
        <label>Location</label>
        <input type="text" title="location" placeholder="location" ng-model="user_info.location" value="edit_location"/>
        <br/>
        <label>Number</label>
        <input type="text" title="number" placeholder="contact number" ng-model="user_info.number"
               value="edit_number"/>
        <button class="btn-green submit_btn horizontal-lined" ng-click="update()">Update</button>
        <button class="btn-green submit_btn horizontal-lined" ng-click="reset()">Reset</button>
    </form>
</div>