<nav>
    <ul>
        <li><a href="#/profile"><i class="fa fa-file"></i>Profile</a></li>
        <li><a href="#/message"><i class="fa fa-envelope"></i>Message</a></li>
        <li ng-click="logout()"><a><i class="fa fa-sign-out"></i>Logout</a></li>
    </ul>
</nav>
<div id="container" style="width: 800px" ng-cloak="">
    <h4 ng-if="messages">Empty Message Box ... {{messages}}</h4>
    <!--<message-directive ng-repeat="item in messages" messageobj="{{item._id}}"></message-directive>-->
    <div ng-class="{'container':true, 'container-green':important, 'container-white': !important}" ng-repeat="item in messages" messageobj="{{item._id}}">
        <div style="text-align: left"><span>Sender: "{{item.sender}}"</span>  <span>     Date: {{item.date}}  {{item.important}}</span>
            <i class="fa fa-trash" ng-click="delete_message($event)"></i>
            <i class="fa fa-eye" ng-click="view_message($event)"></i>
            <i class="fa fa-exclamation" ng-click="makeImp()"></i>
        </div>
        {{item.subject}}
    </div>
    <button class="btn-blue submit_btn" style="display: inline-block" ng-click="open_send()">Send Message</button>
</div>
<div class="container container-black" style="width: 800px" ng-show="needSendMessage">
    <form class="message_form" style="text-align: center">
        <label>To</label>
        <input type="text" ng-model="receiver"/>
        <label>Subject</label>
        <input type="text" ng-model="subject"/>
        <label></label>
        <textarea style="height: 400px; text-shadow: none" ng-model="content" placeholder="message here..."></textarea>
        <button class="btn-blue submit_btn horizontal-lined" ng-click="send()">Send</button>
        <button class="btn-orange submit_btn horizontal-lined" ng-click="send_as_important()">Send As Important</button>
    </form>
</div>