<nav>
    <ul>
        <li><a href="#/profile"><i class="fa fa-file"></i>Profile</a></li>
        <li><a href="#/message"><i class="fa fa-envelope"></i>Message</a></li>
        <li ng-click="logout()"><a><i class="fa fa-sign-out"></i>Logout</a></li>
    </ul>
</nav>
<div id="container" style="width: 800px" ng-cloak="">
    <h4 ng-if="messages.length == 0">Empty Message Box ...</h4>
    <!--<message-directive ng-repeat="item in messages" messageobj="{{item._id}}"></message-directive>-->
    <div ng-class="{'container':true, 'container-green':item.important, 'container-white': !item.important}" ng-repeat="item in messages" messageobj="{{item._id}}">
        <div style="text-align: left"><span>Sender: "{{item.sender}}"</span>  <span>     Date: {{item.date}} </span>
            <i class="fa fa-trash" data-toggle="tooltip" title="delete" ng-click="delete_message($event)"></i>
            <i class="fa fa-eye" data-toggle="tooltip" title="view" ng-click="view_message($event)"></i>
            <i class="fa fa-exclamation" data-toggle="tooltip" title="mark as important" important="{{item.important}}" ng-click="make_important($event)"></i>
        </div>
        {{item.subject}}
        <i class="fa fa-reply" data-toggle="tooltip" title="reply" replyto="{{item.sender}}" ng-click="reply_message($event)"></i>
    </div>
    <button class="btn-blue submit_btn" style="display: inline-block" ng-click="open_send()">Send Message</button>
</div>
