<div id="container" class="edit_info" ng-cloak="">
    <form id="add_contact">
        <label>Username</label>
        <input type="text" title="username" placeholder="username" ng-model="newuser.username" name="username"/>
        <br/>
        <label>Password</label>
        <input type="password" title="password" placeholder="password" ng-model="newuser.password" name="password"/>
        <br/>
        <label>Name</label>
        <input type="text" title="name" placeholder="name" ng-model="newuser.name" name="name"/>
        <br/>
        <label>Location</label>
        <input type="text" title="location" placeholder="location" ng-model="newuser.location" name="location"/>
        <br/>
        <label>Email</label>
        <input type="text" title="email" placeholder="email" ng-model="newuser.email" name="email"/>
        <br/>
        <label>Number</label>
        <input type="text" title="number" placeholder="contact number" ng-model="newuser.number" name="number"/>
        <button class="btn-green submit_btn horizontal-lined" ng-click="submit_register()">Submit</button>
        <button class="btn-green submit_btn horizontal-lined" ng-click="clear_all()">Clear All</button>
        <button class="btn-blue submit_btn horizontal-lined" ng-click="back_login()">Back to Login</button>
    </form>
</div>